h1 {
  margin-top: 1rem;
  color: #878787;
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
  color: #878787;
}

li {
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  list-style: none;
  color: #878787;
}

.Temp {
  font-weight: bold;
  font-size: 40px;
}
